body {
    background:#b3ff99;
 background-image:radial-gradient(at 100% 0%, hsla(249,100%,80%,1) 0px, transparent 50%),
                     radial-gradient(at 9% 89%, hsla(247,100%,75%,1) 0px, transparent 50%),
                     radial-gradient(at 99% 98%, hsla(332,100%,78%,1) 0px, transparent 50%),
                     radial-gradient(at 0% 0%, hsla(323,100%,75%,1) 0px, transparent 50%);
     padding: 45px 0;
     color: white; 
   }
   .duykhoa-messenger{
    bottom:16px;
    right:16px;
    position:fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    background:linear-gradient(179.83deg,rgb(226,73,167) 0.15%,rgb(120,76,255) 92.02%);
    height:50px;
    width:50px;
    z-index:100;
    border-radius:100%;
    animation:duykhoa-messengerfb 2s 0s ease-out infinite
  }
    .duykhoa-messenger i{
      font-size:25px;margin:0;
      color:#fff
    }
    .duykhoa-messenger svg{
      fill:#fff
    }
    @keyframes duykhoa-messengerfb{
      0%{
        box-shadow:0 0 0 0 rgba(13,144,255)
      }
      75%{
        box-shadow:0 0 0 16px transparent
      }
      100%{
        box-shadow:0 0 0 0 transparent
      }
    }

.rung{
  animation:duykhoa-messengerfb-rung-lac 2s ease infinite
}
@-webkit-keyframes duykhoa-messengerfb-rung-lac{
  0%{-webkit-transform:rotate(0) scale(1) skew(1deg)
  }
  10%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)
  }
  20%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)
  }
  30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg)
  }
  40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg)
  }
  50%{-webkit-transform:rotate(0) scale(1) skew(1deg)
  }
  100%{-webkit-transform:rotate(0) scale(1) skew(1deg)
  }
}
   .check_icon{
     color:#1152a7;
     cursor: pointer;
   }
   .box{
     position: relative;
     top: 0px;
     width: 104px;
     height: 118px;
     border-radius: 50%;
     border: 4px solid rgb(200, 106, 207);
     border-right: 4px solid transparent;
     border-left: 4px solid transparent;
     animation: profile 1s infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
   }
   img{
     position: relative;
     top :-124px;
     padding-bottom: 10px;
     width: 104px;
     height: 100%;
     object-fit: cover;
     object-position: center;
     
   }
   .avatar {
     width: 120px;
     height: 120px;
     border-radius: 50%;
 
   }
   @keyframes profile{
     to{
         transform: rotate(360deg);
     }
   }
   
   h3 {
     position: relative;
     top: -137px;
     font-family: "Lobster", cursive;
     margin: 10px 0 8px 0;
     color: rgb(3, 2, 1);
   }
   
   p {
     font-family: system-ui;
     width: 450px;
     position: relative;
     top: -137px;
     color: rgb(10, 23, 33);
   }
   
   @media only screen and (max-width: 600px) {
     p {
       width: 100%;
     }
   }
   
   .button {
     position: relative;
     top: -137px;
     margin-bottom: 20px;
     background:linear-gradient(to right, #ffffff,#badbfb);
     border: 0;
     width: 300px;
     padding: 15px 0 15px 0;
     border-radius: 100px;
     font-family: "Roboto Condensed", cursive;
     font-size: 15px;
     transition-duration: 0.3s;
     transition-property: color, background-color;
     -webkit-box-shadow: 0px 11px 22px -9px #85a5ac;
     box-shadow: 0px 11px 22px -9px #85a5ac;
     cursor: pointer;
 
   }
   
   .button:hover {
     color: rgb(61, 100, 142);
     background:linear-gradient(to right, #f2e7f8,#cac2ff);
   }
   